.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff3f7;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
}
